<div class="col-md-6 col-md-offset-3">
	<h1><%= @title %></h1>
	<ul class="list-group">
		<% @pokemon.each do |p| %>
			<a href="#" class="list-group-item" data-toggle="modal" data-target="#myModal" data-id="<%= p['id'] %>">
				<img class="poke-thumb" src="<%= p['img_url'] %>">
				<span><%= p['name'] %></span>
			</a>
		<% end %>
	</ul>
<div class="col-md-12">

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
      	<img id="large-pic" src=""
        <table class="table table-striped" id="tblGrid">
            <tbody>
              <tr><td>Height:</td>
                <td id="stat-height"></td>
              </tr>
              <tr><td>Weight:</td>
                <td id="stat-weight"></td>
              </tr>
              <tr><td>Attack:</td>
                <td id="stat-attack"></td>
              </tr>
              <tr><td>Defense:</td>
                <td id="stat-defense"></td>
              </tr>
            </tbody>
          </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<script>
	$('[data-toggle=modal]').click(function(){
		//console.log($(this).attr('data-id'));
		var pokemonId = $(this).attr('data-id');
		$('#large-pic').attr('src','http://pokeapi.co/media/img/' + pokemonId + '.png')
		$.ajax({
		    type: 'GET',
		    crossDomain: true,
		    url: '/api/pokemon/' + pokemonId,
		    dataType: 'json',
		    contentType: "application/json",
		    success: function(data){
		        console.log(data)
		        $('#myModalLabel').text(data.name);
		        $('#stat-height').text(data.height);
		        $('#stat-weight').text(data.weight);
		        $('#stat-attack').text(data.attack);
		        $('#stat-defense').text(data.defense);

		    }
		});
	})
</script>